/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  line-height: 1em; /* pour l'instant je m'en sers pour rapprocher le h2 et le p en dessous du logo à voir si ça ne fous pas le bordel*/
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  margin-left: 0.5em;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* Header */

#header {
  display: flex;
  justify-content: space-between;
}

.nav-li {
  list-style: none;
  display: flex;
  gap: 68px;
}

.nav-li li a:hover {
  cursor: pointer;
  color: #0065fc;
  border-top: #0065fc 2px solid; /* version mobile, la barre est en bas */
  padding-top: 20px; /* régle la hauteur de la barre bleu */
}

.logo {
  width: 6em;
  height: 1.9em;
}

/* Bloc search */

.herbergements-find-block {
  margin-top: 3.4em;
}

.herbergements-find-block p {
  margin-bottom: 2.5em;
}

.icon {
  display: flex;
}

.location {
  display: flex;
  align-items: center; /* Flex et align items viennent aligner l'icone au centre */
  background-color: var(--main-bg-color);
  border-radius: 10px 0 0 10px;
  color: #000;
  padding: 0 1em;
  gap: 0;
}

.search-input {
  height: 3.15em;
  border: 1px solid var(--main-bg-color);
}

.btn-search {
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 1.1em;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/* Bloc Search Filters */

.filters {
  display: flex;
  gap: 1em;
  height: 3em;
  margin-top: 2em;
}

.btn-filter {
  border: 2px solid #d9d9d9;
  background-color: var(--main-clr-white);
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.btn-filter i {
  margin-left: 0.5em;
  display: inline;
}

.btn-filter span {
  display: inline;
  margin: auto 0.7em;
}

.btn-filter:hover {
  background-color: var(--filter-bg-color);
}

/* Info bar */

.info-bar {
  margin-top: 1em;
  gap: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
}

.info-bar img {
  height: 24px;
  width: 24px;
  vertical-align: middle; /* Aligns the image vertically in the middle */
}

.info-bar p {
  display: inline; /* permet d'afficher le paragraph et l'img sur la même ligne, sans le inline, le paragraph s'affiche comme un bloc au dessous */
  margin-left: 0.5em;
  font-size: 16px;
  vertical-align: middle; /*permet au paragraphe de s'aligner avec l'icone*/
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  height: 43em;
  width: 84em;
}

.hebergements {
  width: 65%;
}

.hebergements .card {
  width: 100%;
  margin: 2em auto;
  height: 40%;
}

.main-wrapper .card img {
  object-fit: cover;
  height: 140px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-txt-heberg,
.card-rating-heberg {
  margin-left: 1em;
}

.main-wrapper {
  display: flex;
  gap: 1.3em;
  margin-right: 0.7em;
}

.article-wrapper {
  flex: 1;
  padding: 10px;
}

.section-title-bottom {
  margin-top: 0;
  margin-left: 0.5em;
  font-size: 18px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  height: 154px; /* gère la hauteur des cartes les plus populaires */
}

.populaires-cards img {
  width: 33%;
  height: 154px; /* gère la hauteur des images des cartes les plus populaires */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 8px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Activités */

.activites {
  margin-left: 2.16em;
}

.activites h2 {
  margin-top: 2.8em;
  margin-bottom: 2em;
  margin-left: 0.5em;
}

.activites-wrapper {
  display: flex;
  gap: 1.8em;
}

.card-activites {
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 30%;
}

.card-txt {
  background-color: white;
  padding: 0.4em;
  border-radius: 0 0 20px 20px;
}

.card-txt h3 {
  margin-left: 0.8em;
}

.card-activites img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block; /* enlève le gap de 1px entre l'img et le card-txt*/
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
