/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  line-height: 1em; /* pour l'instant je m'en sers pour rapprocher le h2 et le p en dessous du logo à voir si ça ne fous pas le bordel*/
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  height: 100vh;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  margin-left: 0.5em;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* Header */

#header {
  display: flex;
  justify-content: space-between;
}

.nav-li {
  list-style: none;
  display: flex;
  gap: 68px;
}

.nav-li li a:hover {
  cursor: pointer;
  color: #0065fc;
  border-top: #0065fc 2px solid; /* version mobile, la barre est en bas */
  padding-top: 20px; /* régle la hauteur de la barre bleu */
}

.logo {
  width: 6em;
  height: 1.9em;
  margin-top: 1.9em;
}

/* Bloc search */

.herbergements-find-block {
  margin-top: 3.4em;
}

.herbergements-find-block p {
  margin-bottom: 2.5em;
}

.icon {
  display: flex;
}

.location {
  display: flex;
  align-items: center; /* Flex et align items viennent aligner l'icone au centre */
  background-color: var(--main-bg-color);
  border-radius: 10px 0 0 10px;
  color: #000;
  padding: 0 1em;
  gap: 0;
}

.search-input {
  height: 3.15em;
  border: 1px solid var(--main-bg-color);
}

.btn-search {
  border: none;
  background-color: var(--main-color);
  color: #fff;
  padding: 1.1em;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.btn-search .loupe {
  display: none;
  color: #fff;
}

/* Bloc Search Filters */

.filters {
  display: flex;
  gap: 1em;
  height: 3em;
  margin-top: 2em;
}

.btn-filter {
  border: 2px solid #d9d9d9;
  background-color: var(--main-clr-white);
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.btn-filter i {
  margin-left: 0.5em;
  display: inline;
}

.btn-filter span {
  display: inline;
  margin: auto 0.7em;
}

.btn-filter:hover {
  background-color: var(--filter-bg-color);
}

/* Info bar */

.info-bar {
  margin-top: 1em;
  gap: 1em;
  margin-bottom: 2em;
  margin-top: 2em;
}

.info-bar img {
  height: 24px;
  width: 24px;
  vertical-align: middle; /* Aligns the image vertically in the middle */
}

.info-bar p {
  display: inline; /* permet d'afficher le paragraph et l'img sur la même ligne, sans le inline, le paragraph s'affiche comme un bloc au dessous */
  margin-left: 0.5em;
  font-size: 16px;
  vertical-align: middle; /*permet au paragraphe de s'aligner avec l'icone*/
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-around;
  height: 38em;
  width: 83.5em;
}

#hebergements {
  width: 65%;
}

#hebergements .card {
  width: 100%;
  margin: 2em auto;
  height: 40%;
}

.main-wrapper .card img {
  object-fit: cover;
  height: 110px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-txt-heberg,
.card-rating-heberg {
  margin-left: 1em;
  line-height: 3px;
}

.card h2 {
  margin-bottom: 1.3em;
}

.main-wrapper {
  display: flex;
  gap: 1.3em;
  margin-right: 0.7em;
  height: 88%;
}

.article-wrapper {
  flex: 1;
  padding: 10px;
  height: 28em;
}

.section-title-bottom {
  margin-top: 1.5em;
  margin-left: 0.5em;
  font-size: 18px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 24px;
  height: 35em;
  box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
  width: 389px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-right: 0.5em;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 26px;
  height: 123px; /* gère la hauteur des cartes les plus populaires */
}

.populaires-cards img {
  width: 37%;
  height: 123px; /* gère la hauteur des images des cartes les plus populaires */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 0;
  font-size: 14px;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

.card .card-rating {
  margin-bottom: 5px;
  margin-left: 2px;
}

/* Activités */

#activites {
  margin-left: 2.16em;
}

#activites h1 {
  margin-bottom: 1.8em;
}

#activites h2 {
  margin-left: 0.5em;
  font-size: 18px;
  padding: 0.3em;
}

.activites-wrapper {
  display: flex;
  gap: 1.4em;
}

.card-activites {
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 30%;
}

.card-txt {
  background-color: white;
  padding: 0.4em;
  border-radius: 0 0 20px 20px;
}

.card-txt h2 {
  margin-left: 0.8em;
}

.card-activites img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block; /* enlève le gap de 1px entre l'img et le card-txt*/
}

/* Footer */

.footer-wrapper {
  display: flex;
  margin-top: 50px;
  background-color: var(--main-bg-color);
  width: 1330px;
  margin-left: 1em;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 446px;
  margin-left: 1.5em;
}

.footer-column h1 {
  margin-bottom: 0;
  font-size: 18px;
}

.footer-column ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-column li {
  margin-bottom: 20px; /* régle l'espace entre les li du footer */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .logo {
    margin-bottom: 1em;
  }

  .hebergements-and-populaires {
    flex-direction: column;
    width: 100%;
  }

  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 21px;
    height: 36em;
    box-sizing: border-box;
  }

  .main-wrapper .card img,
  .populaires-cards img,
  .card-activites img {
    height: 150px;
  }

  .filters {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0.4em;
  }

  .filters .btn-filter {
    margin: 0 0.5em;
    padding: 1em;
  }

  .info-bar {
    margin-top: 3em;
    margin-bottom: 18em;
  }

  #hebergements {
    width: 100%;
    height: 100%;
    margin-bottom: 3em;
  }

  .main-wrapper {
    width: 100%;
  }

  .article-wrapper .card img {
    height: 60%;
  }

  .populaires {
    width: 100%;
    margin-top: 20px;
    height: 10px;
    margin-bottom: 19em;
  }

  .populaires-cards {
    display: flex;
    gap: 20px;
    flex: 1;
    width: 100%;
    margin-bottom: 0.7em;
    margin-top: 0;
  }

  .section-title {
    margin-top: 1em;
    margin-bottom: 0;
  }

  .section-title-bottom {
    display: block;
    margin-bottom: 2em;
  }

  .populaires-cards a {
    width: 80%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  #activites h1 {
    margin-top: 3em;
  }

  .card img {
    height: 100%;
  }

  .card-activites {
    height: 100%;
    font-size: 14px;
  }

  .card-activites img {
    height: 200px;
  }

  .card-txt {
    height: 60px;
  }

  .footer-wrapper {
    width: 100%;
  }

  .footer-column h1 {
    margin-top: 1.3em;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  #header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 375px;
  }

  .logo {
    margin: 2em 15em;
  }

  .nav-li {
    display: flex;
    width: 375px;
    margin: 0;
    padding: 0;
    gap: 20em;
  }

  .nav-li li a {
    width: 100%;
  }

  .nav-li li a:hover {
    cursor: pointer;
    color: #0065fc;
    border-bottom: #0065fc 2px solid; /*  version mobile, la barre est en bas */
    border-top: none;
    padding-bottom: 20px; /* régle la hauteur de la barre bleu */
  }

  .search-bar {
    width: 375px;
  }

  .btn-search .loupe {
    display: block;
    color: #fff;
  }
  #btn-search-txt {
    display: none; /* viens cacher le texte pour ne laisser que la loupe */
  }
  .filters button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #hebergements {
    display: flex;
    flex-direction: column;
    order: 2; /* inverse la position du bloc hébergements  avec le bloc populaire*/
    background-color: #fff; /* met le fond en blanc pour la version mobile */
    margin-top: 0;
    margin-bottom: 20em;
    width: 375px;
  }

  .herbergements-find-block {
    width: 375px;
  }

  .herbergements-find-block h2 {
    line-height: 1.3em;
  }

  #activites {
    margin-top: 20em;
    width: 375px;
  }

  .activites-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%; /* je met une width à 100% sur le wrapper parent */
  }

  .activites-wrapper .card-activites {
    width: 315px; /* la width sur le conteneur parent me permet de pouvoir régler les cartes en largeur facilement. */
  }

  .activites-wrapper.card-activites img {
    width: 100%;
    height: 10px;
  }
  .populaires {
    order: 1;
    width: 100%;
    margin-top: 23em;
    margin-bottom: 0;
    border-radius: none;
  }

  .populaires-title {
    width: 100%;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 335px;
  }

  footer {
    width: 375px;
  }

  .footer-wrapper {
    flex-direction: column;
    width: 375px;
  }
}

.footer-wrapper .footer-column {
  width: 375px;
}
